body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("https://magic.wizards.com/sites/mtg/files/images/featured/EN_GAMEINFO_STORY_INTRODUCTION_Header_D_140319_5.jpg");
  color: white;
}

a {
  color: #00B7FF;
}

#images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

img {
padding: 15px;
}

#displayTextBox{
display:flex;
justify-content: center;
align-items: center;
font-size: 30px;
Background-color: Black;
width: 50%;
position: relative;
left: 25%;
}

