<html>
<head>
<title>MTG Card Search</title>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="javascripts/mtg.js"></script>
</head>

<body ng-app='cardeck' ng-controller="MainCtrl">

<form ng-submit="getCards()">
Enter A Card to Find: <input type="text" ng-model="cardField" value="">
<button type="submit">Search</button><br><br>
</form>
<form ng-submit="getDeck()">
<button type="submit">Disapay Deck</button><br><br>
</form>
{{displayText}}

<span id="images">
  <div ng-repeat="card in mycards.cards">
    <img src="{{card.imageUrl}}" ng-click="addCard(card)">
  </div>
  <div ng-repeat="card in deckcards">
    <img src="{{card.imageUrl}}" ng-click="removeCard(card)">
  </div>
</span>


</body>

</html>
