<html>
<head>
<title>MTG Card Search</title>

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="javascripts/mtg.js"></script>
</head>

<body ng-app='cardeck' ng-controller="MainCtrl">

<form ng-submit="getDeck()">
<button type="submit" class="button" id="displayDeck">Display Deck</button>
</form>

<form ng-submit="getCards()">
<h1>Enter A Card to Find:  </h1><input type="text" ng-model="cardField" value="">
<button type="submit" class="button">Search</button><br>
</form>

<span id="images">
  <div ng-repeat="card in mycards.cards" ng-if="card.imageUrl!=null">
    <img src="{{card.imageUrl}}" ng-click="addCard(card)">
  </div>
  <div ng-repeat="card in deckcards | orderBy:['cmc','name']">
    <img id="deckCard" src="{{card.imageUrl}}" ng-click="removeCard(card)">
  </div>
</span>

<div class="footer">
  <div id="displayTextBox">
    {{displayText}}
  </div>
</div>

</body>
</html>
